# ModBoost configuration file
default_base_repo: 'git://github.com/boost-lib'
default_branch: trunk
cmake_args: '-DTOOLCHAIN='
publish_path: /tmp/modboost
components:
  accumulators: {}
  algorithm: {}
  any: {}
  array: {}
  asio: {}
  assign: {}
  bimap: {}
  bind: {}
  chrono: {}
  circular_buffer: {}
  compatibility: {}
  concept_check: {}
  config: {}
  container: {}
  conversion: {}
  core: {}
  crc: {}
  date_time: {}
  detail: {}
  disjoint_sets: {}
  dynamic_bitset: {}
  exception: {}
  filesystem: {}
  flyweight: {}
  foreach: {}
  format: {}
  function: {}
  functional: {}
  function_types: {}
  fusion: {}
  geometry: {}
  gil: {}
  graph: {}
  graph_parallel: {}
  heap: {}
  icl: {}
  integer: {}
  interprocess: {}
  intrusive: {}
  io: {}
  iostreams: {}
  iterator: {}
  lambda: {}
  locale: {}
  logic: {}
  math: {}
  move: {}
  mpi: {}
  mpl: {}
  msm: {}
  multi_array: {}
  multi_index: {}
  numeric: {}
  optional: {}
  parameter: {}
  phoenix: {}
  polygon: {}
  pool: {}
  preprocessor: {}
  program_options: {}
  property_map: {}
  property_tree: {}
  proto: {}
  ptr_container: {}
  python: {}
  random: {}
  range: {}
  ratio: {}
  rational: {}
  regex: {}
  scope_exit: {}
  serialization: {}
  signals: {}
  signals2: {}
  smart_ptr: {}
  spirit: {}
  statechart: {}
  static_assert: {}
  system: {}
  test: {}
  thread: {}
  timer:
    deps: [chrono config core exception integer io system utility]
  tokenizer: {}
  tr1: {}
  tti: {}
  tuple: {}
  typeof: {}
  type_traits: {}
  units: {}
  unordered: {}
  utility: {}
  uuid: {}
  variant: {}
  wave: {}
  xpressive: {}
